set timeout=10
set default=0

menuentry "SkyOS live system" {
    insmod all_video
    set gfxpayload=1024x768x32
    multiboot /boot/skyos.elf
    boot
}

menuentry "Install SkyOS to disk0" {
    insmod all_video
    set gfxpayload=1024x768x32
    multiboot /boot/skyos.elf
    boot
}
